@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 110 16% 93%;
    --foreground: 153 14% 12%;
    --card: 90 20% 97%;
    --card-foreground: 153 14% 12%;
    --popover: 90 20% 97%;
    --popover-foreground: 153 14% 12%;
    --primary: 28 56% 51%;
    --primary-foreground: 153 14% 12%;
    --secondary: 136 20% 90%;
    --secondary-foreground: 136 26% 34%;
    --muted: 100 12% 89%;
    --muted-foreground: 144 5% 38%;
    --accent: 28 40% 90%;
    --accent-foreground: 153 14% 12%;
    --destructive: 12 60% 44%;
    --destructive-foreground: 110 16% 95%;
    --border: 100 12% 84%;
    --input: 100 12% 84%;
    --ring: 28 56% 51%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
